/*h3.you {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: initial;
    text-shadow: 0 0 6px;
}
p.youu{
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    color: #fff;
    
}
*/
